<!DOCTYPE html>
<html xmlns="http://www.tymeleaf.org">
<head>
    <title>LISTAGEM DE CLIENTES</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>NOME</th>
                <th>CPF</th>
                <th></th>
            </tr>
        </thead>

        <tbody th:each="cli : ${clientes}">
            <tr>
                <td th:text="${cli.id}"></td>
                <td th:text="${cli.nome}"></td>
                <td th:text="${cli.cpf}"></td>
                <td><a th:href="${'/editar/' + cli.id}">Editar</a></td>
                <td>
                    <form th:action="${'/deletar/' + cli.id}" method="post">
                        <input type="submit" value="Deletar">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>